:root {
  --blue-links: #0099cc;
}

body {
  background-color: #262b30;
}

.gray {
  filter: grayscale(60%);
  transition: 0.3s;
}

.gray:hover {
  filter: grayscale(0);
  scale: 1.04;
}

.img-wrapper {
  background-image: url(../images/wrapper.png);
  background-position: center;
  background-size: cover;
  height: 150px;
}

nav {
  background-color: #3a497a;
  margin-top: 120px !important;
}

.card,
nav,
.game-details {
  font-family: cursive, "Comic Sans MS", "Comic Sans";
}

.nav-link {
  transition-duration: 0.3s;
}

.nav-link:hover {
  color: var(--blue-links) !important;
}

.nav-link.active {
  color: var(--blue-links) !important;
}

.card .card-title > * {
  font-size: 14px;
}

.card .card-footer > * {
  font-size: 13px;
}

.blue-bg {
  background-color: #0cc9f0;
}

/* Custom Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #32383e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #201212;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5959;
}
